---
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full flex flex-col lg:gap-24 gap-12 lg:mb-36">
    <span
      class="w-full flex items-center justify-center text-header lg:text-6xl text-4xl font-bold text-primary tracking-wider mt-8"
      >COMING SOON</span
    >
  </main>
</Layout>
