---
import Form from "../components/Form.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full flex flex-col">
    <div
      class="fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] bg-secondary w-[40%] h-[30%] p-2 hidden"
      id="form"
      style="background-color: rgb(240, 231, 190);"
    >
      <button class="justify-end flex w-full text-lg" id="close">
        close
      </button>
      <Form />
    </div>

    <!-- splash page -->
    <div
      class="flex flex-col lg:items-end lg:justify-start items-center justify-center xl:gap-12 lg:gap-12 gap-8 h-[55rem] my-8 rounded-[4rem] mx-12 lg:p-12 p-4"
      id="background"
    >
      <span
        class="xl:text-[3.2rem] text-xl xl:mt-24 xl:mr-12 font-ladyrose text-white tracking-wider lg:leading-[4rem]"
      >
        Sprout <span class="text-cyan-300">Smarter</span>: Learn, <br />
        Play, and Grow with <span class="text-cyan-300">AI</span>
      </span>

      <span
        class="flex flex-col xl:w-[40%] xl:mr-12 text-white xl:text-2xl lg:text-lg lg:font-light"
      >
        <span class="text-white font-body font-bold xl:text-2xl">
          Create and deliver immersive learning experiences
        </span>
        that engage students through AI-powered games, Multilingual, Adaptive, Fun,
        and Tailored for every learner.
      </span>

      <div class="flex flex-col gap-4 lg:items-end w-full xl:mr-12">
        <button
          class="bg-secondary text-primary py-2 xl:px-12 xl:text-2xl lg:px-8 lg:text-xl lg:font-medium lg:w-fit w-full font-black uppercase rounded-3xl flex items-center justify-center"
          id="alpha"
        >
          join alpha program
        </button>

        <button
          class="lg:border-[1px] border-0 border-secondary uppercase xl:text-2xl lg:text-xl text-secondary lg:font-semibold font-black lg:bg-transparent bg-primary lg:w-fit py-2 px-8 rounded-3xl"
        >
          learn more
        </button>
      </div>
    </div>

    <!-- about page -->

    <div
      class="flex flex-col lg:flex-row gap-6 lg:gap-12 tracking-widest p-4 lg:w-[90%] mx-auto"
    >
      <div
        class="flex flex-col gap-4 lg:items-start lg:text-left items-center text-center"
      >
        <span class="lg:text-5xl text-3xl font-header font-bold">
          <span class="text-extra_text2">Children Learn</span> Faster
          <span class="text-extra_text2">with</span> Artificial Intelligence
        </span>

        <div class="flex lg:flex-row flex-col gap-4 items-center lg:items-end" >

          <div class="text-lg lg:text-2xl font-normal w-[80%] flex flex-col gap-4">
            <span>
              Recent research shows that AI-based educational tools
              significantly accelerate learning by providing personalized,
              adaptive content. A 2022 study from Stanford University found that
              children using AI-enabled platforms progress 30% faster in
              grasping new concepts compared to traditional methods. This is
              because AI tailors lessons to each child's unique learning style,
              making content more engaging and easier to understand.
            </span>
            <span>
              SproutJourney leverages this power by offering multi-agent AI
              models like Eli the Elephant to teach subjects through interactive
              stories, adaptive quizzes, and instant doubt resolution. Our
              platform ensures a personalized learning journey, fostering
              critical thinking and real-world problem-solving skills. <br />
            </span>
            <span class="italic">
              Stanford University, 2022 Study on AI in Education
            </span>
          </div>

          <img src="/bear.png" alt="Bear illustration" class="w-[24rem] h-[24rem]" />
        </div>
      </div>
    </div>

    <!-- memorial -->

    <div
      class="bg-secondary text-primary m-8 p-8 rounded-[3rem] flex flex-col gap-4"
    >
      <span
        class="xl:text-5xl lg:text-4xl md:text-3xl text-3xl font-header font-semibold text-center lg:text-left"
      >
        Discover What our Parents and Educational Institutions Say about Us
      </span>

      <div class="flex md:flex-row flex-col justify-between lg:gap-12 gap-8">
        <div class="bg-primary text-white rounded-xl p-4 flex flex-col gap-2">
          <span class="font-body font-bold text-2xl">Prasansa Agrawal</span>
          <span>
            SproutJourney has been life-changing for my son, who has a learning
            disorder. Eli the Elephant's interactive stories and tailored pacing
            have made it easier for him to understand complex topics like ethics
            and social values. The personalized experience allows him to learn
            without feeling overwhelmed, and I've noticed a marked improvement
            in his ability to think critically. The best part? He's excited
            about learning for the first time
          </span>
          <span class="italic text-lg"
            >Parent of a Child with a Learning Disorder</span
          >
        </div>

        <div class="bg-primary text-white rounded-xl p-4 flex flex-col gap-2">
          <span class="font-body font-bold text-2xl">Anjali Deshmukh</span>
          <span>
            Kushal Agrawal, the founder of SproutJourney, gave us access to test
            the platform, and even in this early stage, it's been a fantastic
            learning tool. My Grade 3 students are hooked on Eli the Elephant's
            lessons! The stories not only keep them engaged, but they're also
            learning valuable life lessons and ethics. The adaptive quizzes
            encourage deeper thinking rather than rote learning. I can't wait
            for the full release, but even now, it's making a positive impact in
            my classroom.
          </span>
          <span class="italic text-lg">Grade 3 Teacher</span>
        </div>

        <div class="bg-primary text-white rounded-xl p-4 flex flex-col gap-2">
          <span class="font-body font-bold text-2xl">Rohan Mehta</span>
          <span>
            My daughter loves Eli the Elephant's lessons! She's learning about
            ethics and social sciences in a way that's both entertaining and
            meaningful. I've seen her become more thoughtful in her daily
            interactions, often discussing the stories and lessons she's
            learned. SproutJourney has made it easy for her to grasp important
            values while having fun.
          </span>
          <span class="italic text-lg">Parent of a 9 year old</span>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  #background {
    background-image: url("/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
</style>

<script>
  const open = document.getElementById("alpha") as HTMLButtonElement;
  const close = document.getElementById("close") as HTMLButtonElement;
  const form = document.getElementById("form") as HTMLButtonElement;

  close.addEventListener("click", () => {
    form.classList.toggle("hidden");
  });
  open.addEventListener("click", () => {
    form.classList.toggle("hidden");
  });
</script>
