---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="w-full" >

        <!-- splash page -->
        <div class="flex lg:flex-row flex-col items-center justify-center relative" >
            <img src="/background.png" alt="" class="xl:h-[50rem] p-4 lg:w-[100rem] lg:h-[35rem] object-fill lg:absolute top-0 z-10 " >

            <div class="lg:absolute z-20 xl:top-32 xl:right-16 lg:top-20 lg:right-10 flex flex-col lg:gap-12 gap-2 lg:items-end lg:p-0 p-4" >
                <span class="xl:text-[3.3rem] lg:text-[2.7rem] text-2xl font-ladyrose lg:text-white text-black tracking-wider" >
                    Sprout <span class="text-cyan-300" >Smarter</span>: Learn, <br>
                    Play, and Grow with <span class="text-cyan-300" >AI</span>
                </span>

                <span class="flex flex-col lg:w-[60%] lg:text-white text-black xl:text-2xl lg:text-lg font-light">
                    <span class="lg:text-white text-black font-ladyrose xl:text-2xl" >
                        Create and deliver immersive learning experiences
                    </span>
                        that engage students through AI-powered games, Multilingual, Adaptive, Fun, and Tailored for every learner.
                </span>

                <div class="flex flex-col gap-4 lg:items-end" >
                    <button class="bg-secondary text-primary py-2 xl:px-12 xl:text-2xl lg:px-8 lg:text-xl lg:font-medium font-black  uppercase rounded-3xl flex items-center justify-center" >
                        join alpha program
                    </button>

                    <button class="lg:border-[1px] border-0 border-secondary uppercase xl:text-2xl lg:text-xl text-secondary lg:font-semibold font-black lg:bg-transparent bg-primary lg:w-fit py-2 px-8 rounded-3xl" >
                        learn more
                    </button>
                </div>
            </div>

        </div>

        

    </main>
</Layout>
