<footer
  class="w-full text-white p-6 flex lg:flex-row flex-col justify-around gap-12 py-24"
  style="background-color: rgb(224, 89, 42);"
>
  <span class="font-heroeau lg:text-4xl text-xl tracking-widest font-bold"
    >Sprout Journey</span
  >
  <div class="flex flex-col gap-4 items-start flex-1">
    <span class="text-body lg:text-3xl text-xl font-semibold">Take Action</span>
    <div class="border-t-2 w-full"></div>
    <button class="lg:text-wxl text-xl font-semibold text-body">
      join our alpha program
    </button>
  </div>
  <div class="flex flex-col gap-4 items-start flex-1">
    <span class="text-body lg:text-3xl text-xl font-semibold">Learn</span>
    <div class="border-t-2 w-full"></div>
    <a href="/about" class="lg:text-2xl text-xl font-semibold text-body">
      About Us
    </a>
    <a href="/careers" class="lg:text-2xl text-xl font-semibold text-body">
      Careers
    </a>
  </div>
  <div class="flex flex-col gap-4 items-start flex-1">
    <span class="text-body lg:text-3xl text-xl font-semibold">Connect</span>
    <div class="border-t-2 w-full"></div>
    <a href="/contact" class="lg:text-2xl text-xl font-semibold text-body">
      Contact us
    </a>
    <span class="lg:text-2xl text-xl font-semibold text-body">
      +91 8114370886
    </span>
  </div>
</footer>
