<footer
  class="w-full text-white p-12 flex flex-col"
  style="background-color: rgb(224, 89, 42);"
>
  <div class="flex lg:flex-row flex-col justify-around gap-12">
    <span class="font-heroeau lg:text-4xl text-xl tracking-widest font-bold"
      >Sprout Journey</span
    >
    <div class="flex flex-col gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-xl font-semibold"
        >Take Action</span
      >
      <div class="border-t-2 w-full"></div>
      <a href="/join" class="lg:text-wxl text-xl font-semibold text-body">
        Join Our Alpha Program
      </a>
    </div>
    <div class="flex flex-col gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-xl font-semibold">Learn</span>
      <div class="border-t-2 w-full"></div>
      <a href="/about" class="lg:text-2xl text-xl font-semibold text-body">
        About Us
      </a>
      <a href="/careers" class="lg:text-2xl text-xl font-semibold text-body">
        Careers
      </a>
    </div>
    <div class="flex flex-col gap-4 items-start flex-1">
      <span class="text-body lg:text-3xl text-xl font-semibold">Connect</span>
      <div class="border-t-2 w-full"></div>
      <a href="/contact" class="text-xl font-semibold text-body">
        Contact us
      </a>
      <span class="text-xl font-semibold text-body"> +91 8114370886 </span>
      <span class="text-xl font-semibold text-body">
        info@sproutjourney.in
      </span>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center">
    <a href="/privacy" class="text-center text-xl font-semibold"
      >Privacy Policy</a
    >
    <a href="/privacy" class="text-center text-xl"
      >&copy; sprout journey, 2024</a
    >
  </div>
</footer>
