---
import Navbar from "../components/Navbar.astro";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Sprout Journey</title>
  </head>
  <body class="flex flex-col min-h-screen w-full" >
      <div class="p-6" >
        <Navbar />
      </div>

      <div class="flex-grow" >
        <slot />
      </div>

  </body>
</html>

<style is:global>
  @font-face {
    font-family: "HeroeauElegantDemo";
    src: url("/fonts/heroeau-elegant-demo.regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "ladyrose";
    src: url("/fonts/ladyrose.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
</style>
